<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Create Listing</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <!-- Extrenal CSS Library -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Local Js Files -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/public/scripts/home.js"></script>
  <script type="text/javascript" src="/public/scripts/myFavorites.js"></script>
  <script type="text/javascript" src="/public/scripts/items.js"></script>

</head>

<body>
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <%- include('header') %>
    <form class="message-form" action="/items/created", method="POST">
      <label for="title">
        <h5>Title</h5>
        <input type="text" name="title" placeholder="title">
      </label>
      <br>
      <label for="price">
        <h5>Price</h5>
        <input type="text" name="price" placeholder="Price">
      </label>
      <br>
      <label for="url">
        <h5>URL</h5>
        <input type="text" maxlength="254"  name="url" placeholder="URL">
      </label>
      <br>
      <label for="description">
        <h5>Description</h5>
        <textarea name="description" id="" cols="30" rows="5"></textarea>
      </label>






      <div>
        <div>
          <button type="submit">Submit</button>
        </div>
      </div>
    </form>


</body>
</html>
