<header>
  <!-- bootstrap Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
  <a class="navbar-brand" href="#">BuyAndSell</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="MyFavorites" href="/api/myFav">Myfavorites</a>
      </li>
      <li class="nav-item">
        <a class="nav-link Items" id="items" href="/api/items">Items</a>
      </li>
      <li class="nav-item">
        <a class="nav-link Conversations" id="conversations" href="/api/conversations">Conversations</a>
      </li>
    </ul>
    <div class="ml-auto" id="loginID">
      <% if(userName) { %>
      <%= userName %>
      <% } else { %>
      <p class="mb-0">Please Login</p>
      <% } %>
    </div>
</nav>
</header>
