<header>
  <!-- bootstrap Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-secondary mb-5">
  <a class="navbar-brand" href="#">BuyAndSell</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <% if(userName) { %>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>

      <%if (isAdmin) {%>
        <li class="nav-item">
          <a class="nav-link" id="MyFavorites" href="/items/createlisting">Create Listing</a>
        </li>
      <%} else {%>
        <li class="nav-item">
          <a class="nav-link" id="MyFavorites" href="/myFav">Myfavorites</a>
        </li>
      <%}%>

      <li class="nav-item">
        <a class="nav-link Items" id="items" href="/items">Items</a>
      </li>
      <li class="nav-item">
        <a class="nav-link Conversations" id="conversations" href="/conversations">Conversations</a>
      </li>
    </ul>
    <% } %>

    <div class="ml-auto d-flex" id="loginID">
      <% if(userName) { %>
        <p class="mr-3 pt-2">Welcome <%= userName %>!</p>
        <form class="form-inline" action="/users/logout" method="POST">
          <div class="form-group mb-2">
            <button type="submit" class="btn btn-outline-dark">Logout</button>
          </div>
        </form>
      <% } else { %>
      <p class="mb-0">Please Login</p>
      <% } %>
    </div>
</nav>


</header>

