<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <!-- Extrenal CSS Library -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Local Js Files -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/public/scripts/home.js"></script>
  <script type="text/javascript" src="/public/scripts/myFavorites.js"></script>
  <script type="text/javascript" src="/public/scripts/items.js"></script>
  <!-- <script type="text/javascript" src="/public/scripts/conversations.js"></script> -->

</head>

<body>
  <%- include('header') %>
  <main>
    <div class="jumbotron">
      <h1 class="display-4">Welcome to our BuyAndSell Website</h1>
      <p class="lead">We are selling electronic items</p>
      <hr class="my-4">
      <p>Click the filter button below to see our search option!</p>
      <p class="lead">
        <a class="btn btn-outline-secondary btn-lg" href="#">Filter</a>
      </p>
    </div>
    <div class="container">
      <%- include('cards') %>
    </div>
    <br>
  </main>

</body>

</html>
