// See: https://sass-lang.com/

body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }
  .item-border {
    margin: 5% 10%;
    border: 1px solid black;
  }
  .inner-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .inner-content img {
    margin: 2%;
  }
  .right{
    margin: 2% 4%;
  }
  .middle {
    margin: 2% 4%;
  }
  .middle h6 {
    font-size: 20px;
    color: #37337C;
  }
  .description {
    display: flex;
    justify-content: center;
    margin-top: 4%;
    margin-bottom: 1%
  }
  .description h6 {
    font-size: 20px;
  }
  .card {
    img {
      height: 15rem;
    }
  }
  .message-box{
    margin: 1rem;
    border: 1px solid black;
  }
  .message-line {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .date-from{
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  .message{
    margin-left: 2em;
    text-align: left;
    // border: 1px solid black;
  }
  .create-message-container {
    width: 90%;
    // margin: auto;
    // float: top;
  }
  .new-message {
    box-sizing: border-box;
    border: 1px solid black;
    margin: 2rem;
  }
  .textareaContainer {
    display: block;
    // border: 3px solid #38c;
    padding: 10px;
    }
  .textarea {
    background-color: #f4f1ec;
    border-bottom: 5px solid;
    width: 100%;
    outline: none;
  }  
  .box-button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }  
  .message-button {
    background-color: #4056A1;
    // font-family: 'Bungee', cursive;
    color: #FFFFFF;
  }
}
