// See: https://sass-lang.com/

body {


  h1 {
    color: #244751;
  }
  .item-border {
    margin: 0 20%;
    border: 1px solid black;
    background-color: #f4f4f2;
  }

  .right {
  }
  .middle {
    margin: 2% 4%;
  }
  .middle h6 {
    font-size: 20px;
    color: #37337c;
  }

  .inner-content {
    img {
      margin: 1%;
    }
    h6 {
      font-size: 30px;
      text-align: center;
    }
    h5 {

    }
    a {
      margin-left: 5%;
      margin-right: 8%;
    }

  }

  .inner-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 3%;
  }
  .test {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .card {
    img {
      height: 15rem;
    }
  }
  .message-box{
    margin: 1rem;
    border: 1px solid black;
  }
  .message-line {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .date-from{
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  .message{
    margin-left: 2em;
    text-align: left;
    // border: 1px solid black;
  }
  .create-message-container {
    width: 90%;
    // margin: auto;
    // float: top;
  }
  .new-message {
    box-sizing: border-box;
    border: 1px solid black;
    margin: 2rem;
  }
  .textareaContainer {
    display: block;
    // border: 3px solid #38c;
    padding: 10px;
    }
  .textarea {
    background-color: #f4f1ec;
    border-bottom: 5px solid;
    width: 100%;
    outline: none;
  }
  .box-button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .message-button {
    background-color: #4056A1;
    // font-family: 'Bungee', cursive;
    color: #FFFFFF;
  }
}
